<?xml version="1.0"?>
<!-- <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> -->
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<errorHandler
			class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Target" value="System.out" />
		<param name="Threshold" value="TRACE" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%t] %d{HH:mm:ss,SSS} %-5p [%C{1}] %m%n" />
		</layout>
	</appender>

	<appender name="ES" class="org.apache.log4j.FileAppender">
		<errorHandler
			class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="File"
			value="target/zero-down-time-elasticsearch-reindexing.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%t] %d{HH:mm:ss,SSS} [%t] %-5p [%C{1}] %m %n" />
		</layout>
	</appender>
	
	<appender name="ES-QUERY" class="org.apache.log4j.FileAppender">
		<errorHandler
			class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="File"
			value="target/es-queries-monitoring.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%t] %d{HH:mm:ss,SSS} [%t] %-5p [%C{1}] %m %n" />
		</layout>
	</appender>

	<category name="org">
		<priority value="WARN" />
	</category>

	<category name="org.tst.opentoutatice.elasticsearch">
		<priority value="DEBUG" />
	</category>

	<category name="org.opentoutatice.elasticsearch"
		additivity="true">
		<appender-ref ref="ES" />
		<priority value="DEBUG" />
	</category>
	
	<category name="org.nuxeo.ecm.core.work.AbstractWork" additivity="true">
		<appender-ref ref="ES" />
		<priority value="INFO" />
	</category>


	<!-- <category name="fr.toutatice.ecm.elasticsearch" additivity="true">
		<appender-ref ref="FILE" />
		<priority value="DEBUG" />
	</category> -->

	<category name="org.nuxeo.elasticsearch">
		<priority value="INFO" />
	</category>
	
	<!-- Queries monitoring -->
	<!-- Es part -->
	<!-- <category name="org.opentoutatice.elasticsearch.core.service.OttcElasticSearchServiceImpl" additivity="false">
		<appender-ref ref="ES-QUERY" />
		<priority value="DEBUG" />
	</category> -->
	<!-- Automation -->
	<!-- Total & json response -->
	<category name="fr.toutatice.ecm.elasticsearch" additivity="false">
		<appender-ref ref="ES-QUERY" />
		<priority value="DEBUG" />
	</category>

	<!-- <category name="org.nuxeo.ecm.core.storage.sql.SessionImpl"> <priority 
		value="DEBUG" /> </category> <category name="org.nuxeo.ecm.core.management.jtajca"> 
		<priority value="TRACE" /> </category> <category name="org.nuxeo.runtime.transaction"> 
		<priority value="TRACE" /> </category> -->

	<root>
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>

</log4j:configuration>
